.vsq_settings_bar {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99999;

  color: "black";
  opacity: 0.3;

  border-radius: 5px;
  padding: 5px;
  margin: 10px;

  width: 300px;

  cursor: default;
}

.vsq_settings_bar:hover {
  opacity: 0.9;
}

.vsq_button {
  background-color: "black";
  color: "white";
  margin: 2px;
}

.vsq_input {
  width: 30px;
}

.vsq_txt {
  display: inline-block;
  color: white;
}
